# Keep the Composer dist tarball to what a site actually installs.
/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/tests              export-ignore
/phpunit.xml        export-ignore
/scripts            export-ignore
